*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}
  body{

    background-color: #0000004d;
  }
    .content{
        width: 200vh;
        height: 100vh;
        display: flex;
        margin:45px;
    }
    .left,.right{
        flex-basis:50%;
        padding:10px;
    }
     textarea{
        margin-top:0px;
        width:100%;
        height:40vh;
        padding: 10px;
      background-color: rgba(0, 0, 255, 0.281);
      border-radius: 30px;
      border-style: solid;
      border-color: black;
    }
    iframe{
        width:100%;
        height:137vh;
        background-color: antiquewhite;
        padding:5px;
        margin-top:0px;
    }
label{
    border-style:dotted;
    border-radius:10px;
    background-color:aquamarine;
    padding-left:350px;
    padding-right:50px;
   margin-left:20px;
   text-align: center;
}
label:hover{
  background-color:rgba(255, 0, 0, 0.392);
}
  #html-code{
    margin-bottom:20px;
  }
  #css-code{
    margin-bottom:30px ;
  }

  .other{
    margin:20px;
  }
  h1{
    text-align: center;
    border-radius: 20px;
    border-style:solid;
    background-color: rgba(0, 255, 255, 0.327);
    
  }
  h1:hover{
    background-color:rgba(0, 0, 255, 0.371);
  }

